.inicio{
  width: 500px;
  margin: 100px auto 0;
}

.title{
  text-align: center;
  margin-top: 0;
}

.empezar-btn{
  display: block; // ponga el boton en un solo bloque
  margin: 20px auto;   // centrelo
}

.usar-btn{
  display: block; // ponga el boton en un solo bloque
  margin: 20px auto;   // centrelo
}
